.login-container
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(72, 104, 247, 0.37);
    padding: 5rem;
    margin-top: 50vh;
    transform: translateY(-50%);
}

.login-container button
{
    min-width: 5rem;
    min-height: 2.5rem;
    border-radius: 0.5rem;
}
.login-container input
{
    min-width: 5rem;
    min-height: 2.5rem;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.login-container > *
{
    flex: 1 0 .5rem;
}

.login-container > div > *
{
    margin: .25rem;
}