*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* Animated gradient generator: https://www.gradient-animator.com/ */
html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(327deg, #022976, #014c6f);
  background-size: 400% 400%;

  -webkit-animation: AnimatedGradient 15s ease infinite;
  -moz-animation: AnimatedGradient 15s ease infinite;
  animation: AnimatedGradient 15s ease infinite;
}

@-webkit-keyframes AnimatedGradient {
  0% {
    background-position: 0% 2%
  }

  50% {
    background-position: 100% 99%
  }

  100% {
    background-position: 0% 2%
  }
}

@-moz-keyframes AnimatedGradient {
  0% {
    background-position: 0% 2%
  }

  50% {
    background-position: 100% 99%
  }

  100% {
    background-position: 0% 2%
  }
}

@keyframes AnimatedGradient {
  0% {
    background-position: 0% 2%
  }

  50% {
    background-position: 100% 99%
  }

  100% {
    background-position: 0% 2%
  }
}

html {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem;
}